{% extends 'client_base.html' %}
{% load static %}
{% load client_extras %}

<!-- [ DYNAMIC MENU ] -->
    <!-- Combobox for station list-->
    {% block stationlist %}
    <select id="selected_station" class="form-control" onchange="location = this.value;">  
        <option>------------------</option> 
        {% for station in user_stations %}
            <option value="{% url 'client:station'  station.id%}">
                [{{station.id}}]-{{ station.fauno_project.name }}
        </option>
        {% endfor %}
    </select>   
    {% endblock %}
<!-- [ END DYNAMIC MENU ] -->


<!-- [START TEMPLATE CONTENT]-->
{% block home %}
<div class="main-panel">
    <div class="content-wrapper">
        <!-- [START]-Map -->
        <div class="row" id="maps">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                    <div class="card-body">
                        <p class="card-title">
                            UBICACIÓN GEOGRÁFICA - {{ station_name}} - {{station_target}}
                        </p>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [END]-Map -->
    </div>
</div>
{% endblock %}
<!-- [END TEMPLATE CONTENT]-->


<!-- [START EXTRA SCRIPTS] -->
{% block extra_css %}

<!-- External -->
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!-- Map height to define the size of the div element that contains it -->
<style type="text/css">
    #map {
        height: 400px;
    }
</style>

<!-- Map script -->
<script>
    // Displays a map. When the user clicks the marker, an info window opens.
    function initMap() {
        // Map parameters
        const last_station_location = { 
            lat: {{ last_alert.0.station.latitude| comma_to_dot }}, 
            lng: {{ last_alert.0.station.longitude | comma_to_dot }} 
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: last_station_location,
        });
        // Displayed data
        const contentString =
            '<div id="content">' +
            '<div id="siteNotice">' +
            "</div>" +
            '<h4 id="firstHeading" class="firstHeading">Último registro</h4>' +
            '<div id="bodyContent">' +
                "Latitud: " + {{ last_alert.0.station.latitude| comma_to_dot }} + "<br>" +
                "Longitud: " + {{ last_alert.0.station.longitude | comma_to_dot }} + "<br>" +
                "Fecha Hora: " + "{{last_alert.0.monitoring_datetime}}" + "<br>" +
                '<p>Detalle:  <a href="{% url 'client:gallery_detail' selected_station last_alert.0.id %}">' +
                "Link detalle</a> </p>" +   
            "</div>" +
            "</div>";
        // Events
        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });
        const marker = new google.maps.Marker({
            position: last_station_location,
            map,
            title: "Último registro",
        });
        marker.addListener("click", () => {
            infowindow.open(map, marker);
        });
    }
</script>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    
    <script src="{% static 'js/data-table.js' %}"></script>

    <script src="{% static 'js/light-gallery.js' %}"></script>
    
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChl8MIIVE7Z6q51qx7-QJarU0DZ7Eb7NI&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}
<!-- [END EXTRA SCRIPTS] -->
