{% extends 'client_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
{% endblock %}

<!-- [ DYNAMIC MENU ] -->

  <!-- Combobox for station list-->
  {% block stationlist %}
  <select id="selected_station" class="form-control" onchange="location = this.value;">
    <option>------------------</option>   
      {% for station in user_stations %}
        <option value="{% url 'client:monitoring_processing'  station.id%}">
          [{{station.id}}]-{{ station.fauno_project.name }}
        </option>
      {% endfor %}
  </select>   
  {% endblock %}

<!-- [ END DYNAMIC MENU ] -->

<!-- [START TEMPLATE CONTENT]-->
{% block update_monitoring %}
  <div class="main-panel">
    <div class="content-wrapper">

      <!-- [Begin monitoring modal] -->
      <div class="row"> 
        <div class="modal fade " id="monitoringModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content " style="width: 600px;">
              <div class="modal-body">                  
                <iframe id="inlineFrameExample" title="Inline Frame Example" style="width: 100%;height:450px;border:0" src="">
                </iframe>                 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [End monitoring modal] -->

      <!-- [Begin taxonomy modal] -->
      <div class="row">
        <div class="modal fade " id="taxonomyModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content " style="width: 600px;">
              <div class="modal-body">
                <iframe id="inlineFrameExample" title="Inline Frame Example" style="width: 100%;height:450px;border:0" src="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [End taxonomy modal] -->

      <!-- [Begin Related data] - Description and tips to fill the forms  -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <p class="card-title">PROCESAMIENTO DE REGISTROS - {{ station_name}} - {{station_target}}</p>
              <p class="card-text">
                <ul>Click en <i class="ti-pencil-alt  icon-sm"></i> para actualizar datos asociados a 
                  Monitoreo</ul>
                <ul>Click en <i class=" ti-plus  icon-sm"></i> para añadir datos asociados a 
                Taxonomía</ul>
                
                <ul>
                  <p>Para la taxonomía de MAMMALIA se siguió la lista de mamíferos vivientes de 
                  Chile de D'Elia et al. 2020.
                  D'Elia G, Canto J, Ossa G, Verde-Arregoitia LD, Bostelmann E, Iriarte A, Amador L,
                   Quiroga-Carmona M, Hurtado N, Cadenillas R, Valdez L. 2020. Lista actualizada de 
                   los mamíferos vivientes de Chile. Boletín del Museo Nacional de Historia Natural,
                    Chile, 69(2): 67-98.
                  </p>
                </ul>
                <ul>
                  <p>Para la taxonomía de AVES se siguió el listado propuesto por el Comité de 
                    clasificación sudamericano (SACC, South American Classification Committee), 
                    perteneciente a la Sociedad ornitológica americana (AOS, American Ornithological
                     Society).
                    Según los criterios de SACC se incluyen las especies nidificantes, regulares no 
                    nidificantes, visitantes y las exóticas asilvestradas.
                  </p>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- [End Related data] -->

      <br>

      <!-- [Begin Monitoring Records] -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">

              <!-- [Begin] - Up Pagination -->
              {% if monitoring.has_other_pages %}
                <ul class="pagination flex-wrap">
                  <!--Left arrow -->
                  {% if monitoring.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ monitoring.previous_page_number }}">
                        <i class="ti-angle-left"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <i class="ti-angle-left"></i>
                      </a>
                      
                    </li>
                  {% endif %}
                  <!-- pages -->
                  {% for i in monitoring.paginator.page_range %}
                    {% if monitoring.number == i %}
                      <li class="page-item active">
                        <a class="page-link" href="#">{{ i }} </a>
                      </li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- Right arrow -->
                  {% if monitoring.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ monitoring.next_page_number }}">
                        <i class="ti-angle-right"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <i class="ti-angle-right"></i>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
              <!-- [End] - Up Pagination -->

              <!-- [Begin] - Records -->
              <div id="lightgallery" >
                {% for monitor  in monitoring %}
                  <div class="row lightGallery">
                    <div class="col-md-12">
                      <br>
                      <p>Registro [{{monitor.id}}] - {{monitor.monitoring_datetime}}

                        <!-- Update monitoring data button -->
                        <button 
                          class="btn btn-primary btn-sm my-2" 
                          type="button"  
                          data-toggle="modal" 
                          data-target="#monitoringModal"
                          data-update-url="{% url 'client:monitoring_update' monitor.pk %}">
                          <i class="ti-pencil-alt  icon-sm"></i>
                        </button>

                        <!-- Update taxonomy data button--> 
                        <button class="btn btn-primary btn-sm " 
                          type="button"  
                          data-toggle="modal" 
                          data-target="#taxonomyModal"
                          data-update-url="{% url 'client:detection_create' monitor.pk %}">
                          <i class=" ti-plus  icon-sm"></i>
                        </button>
                        <!---->

                        <!-- Image button--> 
                        <a href="{{monitor.image_url}}" download>
                          <button class="btn btn-primary btn-sm my-2" type="button">
                            <i class="ti-cloud-down icon-sm"></i>
                            Imagen
                          </button>
                        </a>
                        <!---->

                        <!-- Video button--> 
                        <a href="{{monitor.video_url}}" download>
                          <button class="btn btn-primary btn-sm my-2" type="button">
                            <i class="ti-cloud-down icon-sm"></i>
                            Video
                          </button>
                        </a>
                        <!---->

                      </p>
                    </div>
                  </div>
                  
                  <div class="row lightGallery">
                      <div class="col-md-9">
                          <video  width="600" controls >
                              <source src="{{monitor.video_url}}" type="video/mp4">
                          </video>
                      </div>
                      <div class="col-md-1">
                          
                      </div>
                      <div class="col-md-1">
                          
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                {% endfor %}
              </div>
              <!-- [End] - Records-->

              <!-- [Begin] - Down Pagination -->
              {% if monitoring.has_other_pages %}
                <ul class="pagination flex-wrap">
                  <!--Left arrow -->
                  {% if monitoring.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ monitoring.previous_page_number }}">
                        <i class="ti-angle-left"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">
                        <i class="ti-angle-left"></i>
                      </a>
                      
                    </li>
                  {% endif %}
                  <!-- pages -->
                  {% for i in monitoring.paginator.page_range %}
                    {% if monitoring.number == i %}
                      <li class="page-item active">
                        <a class="page-link" href="#">{{ i }} </a>
                      </li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- Right arrow -->
                  {% if monitoring.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ monitoring.next_page_number }}">
                        <i class="ti-angle-right"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <i class="ti-angle-right"></i>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
              <!-- [End] - Down Pagination -->
            </div>
          </div>
        </div>
      </div>
      <!-- [End Monitoring Records] -->
    </div>
  </div>
{% endblock %}
<!-- [END TEMPLATE CONTENT]-->

<!-- [START EXTRA SCRIPTS] -->
{% block extra_js %}
  <!-- Bootstrap -->
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/data-table.js' %}"></script>

  <!-- Modal trigger -->
  <script>
    (function ($) {
        'use strict';
        $('.modal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var url_update = button.data('update-url') // Extract info from data-* attributes
          
          var modal = $(this)
          modal.find('.modal-body iframe').attr('src', url_update)
        })
      })(jQuery);
  </script>

  <!-- Download -->
  <script>
    function download(filename, textInput) {

          var element = document.createElement('a');
          element.setAttribute('href','data:text/plain;charset=utf-8, ' + encodeURIComponent(textInput));
          element.setAttribute('download', filename);
          document.body.appendChild(element);
          element.click();
          //document.body.removeChild(element);
    }
    document.getElementById("btn-download")
          .addEventListener("click", function () {
                var text = document.getElementById("text-download").value;
                var filename = "output.txt";
                download(filename, text);
          }, false);
  </script>
{% endblock %}
<!-- [END EXTRA SCRIPTS] -->