{% extends 'client_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/lightgallery/css/lightgallery.css' %}">
{% endblock %}

<!-- [ DYNAMIC MENU ] -->
    <!-- Combobox for station list-->
    {% block stationlist %}
    <select id="selected_station" class="form-control" onchange="location = this.value;">
        <option>------------------</option>   
        {% for station in user_stations %}
            <option value="{% url 'client:gallery'  station.id%}">
              [{{station.id}}]-{{ station.fauno_project.name }}
            </option>
        {% endfor %}
    </select>   
    {% endblock %}
<!-- [ END DYNAMIC MENU ] -->


<!-- [START TEMPLATE CONTENT]-->

  {% block gallery %}
  <div class="main-panel">
    <div class="content-wrapper">
      <!-- [Start Gallery code] - Photos with link to review the related monitoring detail -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <!-- [Start] Description -->
                <p class="card-title">GALERÍA DE REGISTROS CAPTADOS POR FAUNOLINE - {{ station_name}} - {{station_target}}</p>
                <p class="card-text">
                  Haz click en la imagen para acceder al video y los datos asociados al registro.
                </p>
                <br>
                <!-- [End] Description --> 

                <!-- [Start] - Alerts Gallery -->
                <div id="lightgallery" class="row lightGallery">
                  {% for record  in page_monitoring %}
                  
                    <a href="{% url 'client:gallery_detail' selected_station record.id %}" 
                      class="image-tile">
                      <img src="{{record.image_url}}" 
                          alt="image small"  
                          width="400px" 
                          data-toggle="popover" 
                          data-trigger="hover" 
                          data-content="ID[{{record.id}}] - {{record.monitoring_datetime}}">
                    </a>
                  {% endfor %}
                </div>
                <!-- [End] - Alerts Gallery -->

                <!-- [Start] - Pagination -->
                {% if page_monitoring.has_other_pages %}
                  <ul class="pagination flex-wrap">
                    <!--Left arrow -->
                    {% if page_monitoring.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_monitoring.previous_page_number }}">
                          <i class="ti-angle-left"></i>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#">
                          <i class="ti-angle-left"></i>
                        </a>
                        
                      </li>
                    {% endif %}
                    <!-- Pages -->
                    {% for i in page_monitoring.paginator.page_range %}
                      {% if page_monitoring.number == i %}
                        <li class="page-item active">
                          <a class="page-link" href="#">{{ i }} </a>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    <!-- Right arrow -->
                    {% if page_monitoring.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_monitoring.next_page_number }}">
                          <i class="ti-angle-right"></i>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <i class="ti-angle-right"></i>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
                <!-- [End] - Pagination -->
            </div>
          </div>
        </div> 
      </div>
      <!-- [End Gallery code] -->  
    </div>  
  </div>
  {% endblock %}
<!-- [END TEMPLATE CONTENT]-->


<!-- [START EXTRA SCRIPTS] -->
{% block extra_js %}

  <script src="{% static 'js/light-gallery.js' %}"></script>

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
  </script>

{% endblock %}
<!-- [END EXTRA SCRIPTS] -->