
{% extends 'client_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
{% endblock %}

<!-- [ BEGIN DYNAMIC MENU ] -->
    <!-- Combobox for station list-->
    {% block stationlist %}
    <select id="selected_station" class="form-control" onchange="location = this.value;"> 
        <option>------------------</option> 
        {% for station in user_stations %}
            <option value="{% url 'client:gallery'  station.id%}">
                [{{station.id}}]-{{ station.fauno_project.name }}
            </option>        
        {% endfor %}
    </select>   
    {% endblock %}
<!-- [ END DYNAMIC MENU ] -->


<!-- [BEGIN TEMPLATE CONTENT]-->
    {% block gallery %}
        {% for monitor in monitoring %}
        <div class="main-panel">
            <div class="content-wrapper">
                <p class="card-title">FICHA DE REGISTRO CAPTADO</p>
                <!-- [Begin Related data] - MOnitoring data related to the id selected  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- [Begin] Data -->
                                <div class="row">
                                    <div class="col-sm-12  col-md-2">
                                        <p>ID Registro: {{monitor.id}}</p>
                                    </div>
                                    <div class="col-sm-12  col-md-3">  
                                        <p>Estación: {{ station_name }}</p>                
                                    </div>
                                    <div class="col-sm-12 col-md-4">  
                                        <p>Fecha-Hr: {{monitor.monitoring_datetime}}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3">  
                                        <p>N° Elementos: {{monitor.elements_counter}}</p>
                                    </div>

                                </div>
                                <!-- [End] Data -->
                                <br>
                                <!-- [Begin] Taxonomy table -->
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="order-listing" class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID </th>
                                                    <th>Reino</th>
                                                    <th>Phyllum</th>
                                                    <th>Clase</th>
                                                    <th>Clase (común)</th>
                                                    <th>Orden</th>
                                                    <th>Orden (común)</th>
                                                    <th>Familia</th>
                                                    <th>Género</th>
                                                    <th>Especie</th>
                                                    <th>Especie (común)</th>
                                                    <th>Origen</th>
                                                    <th>Comportamiento</th>
                                                    <th>Salud</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for element in detection %}
                                                <tr>
                                                    <td>{{element.id}}</td>
                                                    <td>{{element.animal.kingdom}}</td>
                                                    <td>{{element.animal.phylum}}</td>
                                                    
                                                    <td>{{element.animal_class.scientific_name}}</td>
                                                    <td>{{element.animal_class.common_name}}</td>
            
                                                    <td>{{element.animal_order.scientific_name}}</td>
                                                    <td>{{element.animal_order.common_name}}</td>
            
                                                    <td>{{element.animal_family.scientific_name}}</td>
                                                    
                                                    <td>{{element.animal_genus.scientific_name}}</td>
                                                    
                                                    <td>{{element.animal_species.scientific_name}}</td>
                                                    <td>{{element.animal_species.common_name}}</td>
            
                                                    <td>{{element.animal_origin.common_name}}</td>
                                                    <td>{{element.lifehistory_behavior}}</td>
                                                    <td>{{element.lifehistory_health_condition}}</td>
                                                </tr>
                        
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- [End] Taxonomy table -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [End Related data] -->
                <br>
                <!-- [Begin video/photo] -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- [Begin] Video -->
                                    <div class="col-sm-12 col-md-6"> 
                                        <video  style="width: 100%; height: auto;" controls >
                                            <source src="{{monitor.video_url}}" type="video/mp4">
                                        </video>
                                    </div>
                                    <!-- [End] Video -->

                                    <!-- [Begin] photo -->
                                    <div class="col-sm-12 col-md-6"> 
                                        <img src="{{monitor.image_url}}" alt="image small" style="width: 100%; height: auto;">
                                    </div>
                                    <!-- [End] photo -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [End video] -->
                <br>
                <!-- [Begin Notes] -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    NOTAS:
                                </p>
                                {{monitor.notes}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [End Notes] -->
            </div>
        </div>


        {% endfor %}
    {% endblock %}
<!-- [END TEMPLATE CONTENT]-->
