{% extends 'client_base_modal.html' %}
{% load bootstrap4 %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="main-panel">
    <form method="POST" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group">
            <div class="col-md-9">
                <label>Nombre</label>
                <select style="width:50%" class="select2 form-control"  name="animal_name" id="id_animal_name">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Clase</label>
                <select style="width:50%" class="select2 form-control" name="animal_class" id="id_animal_class">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Orden</label>
                <select style="width:50%" class="select2 form-control"  name="animal_order" id="id_animal_order">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Familia</label>
                <select style="width:50%" class="select2 form-control"  name="animal_family" id="id_animal_family">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Género</label>
                <select style="width:50%" class="select2 form-control"  name="animal_genus" id="id_animal_genus">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Especie</label>
                <select style="width:50%" class="select2 form-control"  name="animal_species" id="id_animal_species">
                    <option>No identificado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label>Origen</label>
                <select style="width:50%" class="select2 form-control"  name="animal_origin" id="id_animal_origin">
                    <option>No identificado</option>
                </select>
            </div>
        </div>
        <!-- No concatenated atributes-->
        <div class="form-group">
            <div class="col-md-9">
                <label>Comportamiento</label>
                <select style="width:50%" class="select2 form-control"  name="lifehistory_behavior" id="id_lifehistory_behavior">
                    <option>Sin información</option>
                    <option>Cazando</option>
                    <option>De paso</option>
                    <option>Alimentándose</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
            <label>Condición de Salud</label>
                <select style="width:50%" class="select2 form-control"  name="lifehistory_health_condition" id="id_lifehistory_health_condition">
                    <option>Sin información</option>
                    <option>Sano</option>
                    <option>Enfermo</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Notas</label>
            <label class="col-md-2 control-label" style="color: lightslategray">Escribe aquí tus comentarios</label>
            <div class="col-md-9">
                <textarea name="notes"  id="id_notes" class="text-black-50"rows="10" cols="40"></textarea>
            </div>
        </div>
        <br>

        <button onclick="sendData()" class="btn btn-primary"> 
            Guardar 
        </button>
        <p id="response">{{response}}</p>

        <!--<button type="submit" class="btn btn-primary">
            Guardar cambios
        </button>-->
        
    </form>
    
    <!--
    <button onclick="sendData()" class="btn btn-primary"> 
        Guardar 
    </button>-->
    
</div>
{% endblock %}

{% block extra_js%}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>



<!-- CONCATENATED FORM -->

<!-- CONCATENATED FORM -->
<script>
    $('.select2').select2();
    // Show list of animal names
    $('#id_animal_name').select2({
        ajax: {
            url: "{% url 'client:get_animal' %}",
            dataType: 'json',
            processResults: function (data) {
                return {
                    results: $.map(data.list_name, function (item) {
                        return {id: item.id, text: item.name};
                    })
                };
            }
        },
        minimumInputLength: 0
    });

    // Show list of animal classes
    $('#id_animal_name').change(function(){
        let aname = $('#id_animal_name option:selected').val();

        document.getElementById("id_animal_class").options.length=0;
        document.getElementById("id_animal_order").options.length=0;
        document.getElementById("id_animal_family").options.length=0;
        document.getElementById("id_animal_genus").options.length=0;
        document.getElementById("id_animal_species").options.length=0;
        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_class').select2({
            ajax: {
                url: "{% url 'client:get_animal_class' %}?aname="+aname,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_classes, function (item) {
                            return {id: item.id, text: item.scientific_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });
    // Show list of animal orders
    $('#id_animal_class').change(function(){
        let aclass = $('#id_animal_class option:selected').val();

        document.getElementById("id_animal_order").options.length=0;
        document.getElementById("id_animal_family").options.length=0;
        document.getElementById("id_animal_genus").options.length=0;
        document.getElementById("id_animal_species").options.length=0;
        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_order').select2({
            ajax: {
                url: "{% url 'client:get_animal_order' %}?aclass="+aclass,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_orders, function (item) {
                            return {id: item.id, text: item.scientific_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });
    // Show list of animal families
    $('#id_animal_order').change(function(){
        let aorder = $('#id_animal_order option:selected').val();

        document.getElementById("id_animal_family").options.length=0;
        document.getElementById("id_animal_genus").options.length=0;
        document.getElementById("id_animal_species").options.length=0;
        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_family').select2({
            ajax: {
                url: "{% url 'client:get_animal_family' %}?aorder="+aorder,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_families, function (item) {
                            return {id: item.id, text: item.scientific_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });
    // Show list of animal genuses
    $('#id_animal_family').change(function(){
        let afamily = $('#id_animal_family option:selected').val();

        document.getElementById("id_animal_genus").options.length=0;
        document.getElementById("id_animal_species").options.length=0;
        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_genus').select2({
            ajax: {
                url: "{% url 'client:get_animal_genus' %}?afamily="+afamily,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_genuses, function (item) {
                            return {id: item.id, text: item.scientific_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });
    // Show list of animal species
    $('#id_animal_genus').change(function(){
        let agenus = $('#id_animal_genus option:selected').val();

        document.getElementById("id_animal_species").options.length=0;
        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_species').select2({
            ajax: {
                url: "{% url 'client:get_animal_species' %}?agenus="+agenus,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_species, function (item) {
                            return {id: item.id, text: item.scientific_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });
    // Show list of animal origins
    $('#id_animal_species').change(function(){
        let aspecies = $('#id_animal_species option:selected').val();

        document.getElementById("id_animal_origin").options.length=0;

        $('#id_animal_origin').select2({
            ajax: {
                url: "{% url 'client:get_animal_origin' %}?aspecies="+aspecies,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data.list_origins, function (item) {
                            return {id: item.id, text: item.common_name};
                        })
                    };
                }
            },
            minimumInputLength: 0
        });
    });

    
</script>
    
<!-- SEND DATA TO FORM-->
<script>
    function sendData(){
        //let monitoring_id = $('#monitoring_id').val();
        event.preventDefault();
        
        //get the input value
        $id_animal_name = $('#id_animal_name').val();
        $id_animal_class = $('#id_animal_class').val();
        $id_animal_order = $('#id_animal_order').val();
        $id_animal_family = $('#id_animal_family').val();
        $id_animal_genus = $('#id_animal_genus').val();
        $id_animal_species = $('#id_animal_species').val();
        $id_animal_origin = $('#id_animal_origin').val();
        $id_lifehistory_behavior = $('#id_lifehistory_behavior').val();
        $id_lifehistory_health_condition = $('#id_lifehistory_health_condition').val();
        $id_notes = $('#id_notes').val();

        $.ajax({
            //the url to send the data to
            url: "{% url 'client:detection_create' monitoring_id%}",
            //the data to send to

            data: {
                'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                'animal_name' : $id_animal_name,
                'animal_class' : $id_animal_class,
                'animal_order' : $id_animal_order,
                'animal_family' : $id_animal_family,
                'animal_genus' : $id_animal_genus,
                'animal_species' : $id_animal_species,
                'animal_origin' : $id_animal_origin,
                'lifehistory_behavior' : $id_lifehistory_behavior,
                'lifehistory_health_condition' : $id_lifehistory_health_condition,
                'notes' : $id_notes
            },
            //type. for eg: GET, POST
            type: "POST",
            //datatype expected to get in reply form server
            dataType: "json",
            //on success
            success: function(data){
                //do something after something is recieved from php - response
                alert(data.response);
            },
            //on error
            error: function(){
                //bad request
                //$('#response').text('Error');
                alert(data.response);
            }
        });
    }

</script>
{% endblock %}



