
{% extends 'client_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
{% endblock %}

<!-- [ DYNAMIC MENU ] -->
    <!-- Combobox for station list-->
    {% block stationlist %}
    <select id="selected_station" class="form-control" onchange="location = this.value;"> 
        <option>------------------</option> 
        {% for station in user_stations %}
            <option value="{% url 'client:notifications'  station.id%}">
                [{{station.id}}]-{{ station.fauno_project.name }}
            </option>
        {% endfor %}
    </select>   
    {% endblock %}
<!-- [ END DYNAMIC MENU ] -->


<!-- [START TEMPLATE CONTENT]-->
    {% block list_monitoring %}
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- [Start Table code] shows the last 10 activity records-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- [Start] Description -->
                                <h4 class="card-title">ÚLTIMOS REGISTROS DE ACTIVIDAD - {{ station_name}} - {{station_target}}</h4>
                                <!-- [End] Description -->

                                <!-- [Start] Table -->
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                            <tr>
                                                <th>#ID Registro</th>
                                                <th>Fecha</th>
                                                <th>Imagen <i class="ti-cloud-down icon-sm "></i></th>
                                                <th>Video <i class="ti-cloud-down icon-sm "></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for monitor in monitoring %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'client:gallery_detail' selected_station monitor.id %}" 
                                                        class="image-tile">{{monitor.id}}
                                                    </a>
                                                </td>
                                                <td>{{monitor.monitoring_datetime}}</td>
                                                <td><a href="{{monitor.image_url}}">Imagen</a></td>
                                                <td><a href="{{monitor.video_url}}">Video</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- [End] Table -->
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- [End Table code] -->
            </div>
        </div>
    {% endblock %}
<!-- [END TEMPLATE CONTENT]-->