{% extends 'client_base_modal.html' %}
{% load bootstrap4 %}

{% block content %}
    Actualización ID: <strong>{{monitoring_id}}</strong>

    <form method="POST" enctype="multipart/form-data" class="form">
  
        <!--Security token -->
        {% csrf_token %}
        <!-- Using the formset -->
        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Guardar cambios
        </button>
        {% endbuttons %}
                          
        <p>{{response}}</p>
    </form>
{% endblock %}
