{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

  <title>Faunoline - Ecometric</title>
  <link rel="shortcut icon" href="{% static 'img/logo/logo_mini.png' %}" />

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- End Required meta tags -->

  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" 
        type="text/css" 
        href="{% static 'css/style_client.css' %}" />
  <!-- end plugins:css -->

  {% block extra_css %}
  {% endblock %}
  
</head>

<body>

  <!-- [START]-Container Scroller -->
  <div class="container-scroller">
    <!-- [START]-Navigation Bar -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <!-- Left Icon -->
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="">
         <!--"../static/img/logo/logo1.png"-->
          <img src="{% static 'img/logo/logo1.png' %}" class="mr-2" alt="logo" />
        </a>
      </div>

      <!-- Mid navbar -->
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <!-- Right aligment-->
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'auth_login:login' %}">
              <i class="ti-shift-right" style="color:#249ca4;"></i>
              <span class="menu-title"  style="color:#249ca4;">Logout</span>
            </a>
          </li>
        </ul>
        <!--
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="ti-layout-grid2"></span>
        </button>-->
      </div>

    </nav>
    <!-- [END]-Navigation Bar -->


    <!-- [START]-Content Container -->
    <div class="container-fluid page-body-wrapper">

      <!-- [START]-Sidebar -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <p class="menu-title" style="color:whitesmoke;">[{{selected_station}}] {{station_name}} - {{station_target}}</p>
          <br>
          <p class="menu-title" style="color:whitesmoke;">Seleccionar estación</p>
          {% block stationlist %}{% endblock %}
          <br>
          <!-- Notifications -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:notifications'  selected_station%}">
              <i class="ti-bell menu-icon"></i>
              <span class="menu-title">Últimos Registros</span>
            </a>
          </li>
          <!-- Gallery -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:gallery' selected_station%}">
              <i class="ti-gallery menu-icon"></i>
              <span class="menu-title">Galería</span>
          </a>
          </li>
          <!-- Station data -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:station' selected_station%}">
              <i class="ti-video-camera  menu-icon"></i>
              <span class="menu-title">Estación</span>
            </a>
          </li>
          <!-- Taxonomy CRUD-->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#taxonomy" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-eye  menu-icon"></i>
              <span class="menu-title">Taxonomía</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="taxonomy">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'client:detection_list' selected_station%}">Detecciones</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'client:monitoring_processing' selected_station%}">Procesamiento de<br>Registros</a></li>
              </ul>
            </div>
          </li>
          <!-- Manager-->
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#taxonomy" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-panel  menu-icon"></i>
              <span class="menu-title">Gestión de datos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="taxonomy">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'client:get_csv' selected_station 0%}">Descargar <br>datos</a></li>
              </ul> 
            </div>
          </li>
          {% endif %}
          
        </ul>
      </nav>
      <!-- [END]-Sidebar -->
    
        <!-- bloque para contenido de home    -->
      {% block home %}
      {% endblock %}

      <!-- bloque para contenido de gallery -->
      {% block gallery %}
      {% endblock %}

      <!-- bloque para contenido de tables  -->
      {% block tables %}
      {% endblock %}

      <!-- CRUD: list monitoring  -->
      {% block list_monitoring %}
      {% endblock %}
      <!-- CRUD: update monitoring  -->
      {% block update_monitoring %}
      {% endblock %}
      <!-- CRUD: delete monitoring  -->
      {% block delete_monitoring %}
      {% endblock %}

      <!-- CSV -->
      {% block list_detections %}
          {% endblock %}
      
    </div>
    <!-- [END]-Content Container -->
  </div>
  <!--[END]-Container Scroller -->

  <!-- [START]-Footer -->
  <!-- [END]-Footer -->

  <!-- inject:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script> 
  <!-- End inject -->

  <!-- Custom js -->
  {% block extra_js%}
  {% endblock %}
  <!-- End Custom js -->

</body>
<!-- [START]- -->
<!-- [END]- -->
</html>