
{% extends 'client_base.html' %}
{% load static %}

{% block extra_css %}
<title>Faunoline - Ecometric</title>
  <link rel="shortcut icon" href="{% static 'img/logo/logo_mini.png' %}" />

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- End Required meta tags -->

  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" 
        type="text/css" 
        href="{% static 'css/style_client.css' %}" />
{% endblock %}

<!-- [ DYNAMIC MENU ] -->
    <!-- Combobox for station list-->
    {% block stationlist %}
    <select id="selected_station" class="form-control" onchange="location = this.value;"> 
        <option>------------------</option> 
        {% for station in user_stations %}
            <option value="{% url 'client:get_csv'  station.id 0%}">
                [{{station.id}}]-{{ station.fauno_project.name }}
            </option>
        {% endfor %}
    </select>   
    {% endblock %}
<!-- [ END DYNAMIC MENU ] -->

<!-- [START TEMPLATE CONTENT]-->
{% block list_detections %}
<div class="main-panel"> 
    <div class="row">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <!-- [Begin]- Download button -->
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                            <h4 class="card-title">DESCARGA DE LISTADO DE DETECCIONES INGRESADAS</h4>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <a class="nav-link" href="{% url 'client:get_csv' selected_station 1%}">
                                <button class="btn btn-primary btn-sm " type="button" >
                                    <i class="ti-cloud-down icon-sm"></i> Descargar CSV
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
                    <!-- [End]- Download button -->
            <div class="card">
                 <div class="card-body">
                    <!-- [Begin]- Detections list -->            
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="order-listing" class="table">
                                    <thead>
                                        <tr>
                                            <th>ID </th>
                                            <th>ID registro</th>
                                            <th>Reino</th>
                                            <th>Phyllum</th>
                                            <th>Clase</th>
                                            <th>Clase (común)</th>
                                            <th>Orden</th>
                                            <th>Orden (común)</th>
                                            <th>Familia</th>
                                            <th>Género</th>
                                            <th>Especie</th>
                                            <th>Especie (común)</th>
                                            <th>Origen</th>
                                            <th>Comportamiento</th>
                                            <th>Salud</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for element in detections %}
                                        <tr>
                                            <td>{{element.id}}</td>
                                            <td>
                                                <a href="{% url 'client:gallery_detail' selected_station element.monitoring.id %}">{{element.monitoring.id}}</a>
                                            </td>
                                            <!--<td>{{element.monitoring.station}}</td>-->
                                            <td>{{element.animal.kingdom}}</td>
                                            <td>{{element.animal.phylum}}</td>
                                            
                                            <td>{{element.animal_class.scientific_name}}</td>
                                            <td>{{element.animal_class.common_name}}</td>

                                            <td>{{element.animal_order.scientific_name}}</td>
                                            <td>{{element.animal_order.common_name}}</td>

                                            <td>{{element.animal_family.scientific_name}}</td>
                                            
                                            <td>{{element.animal_genus.scientific_name}}</td>
                                            
                                            <td>{{element.animal_species.scientific_name}}</td>
                                            <td>{{element.animal_species.common_name}}</td>

                                            <td>{{element.animal_origin.common_name}}</td>
                                            <td>{{element.lifehistory_behavior}}</td>
                                            <td>{{element.lifehistory_health_condition}}</td>
                                        </tr>
                
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- [End]- Detections list -->  
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
<!-- [END TEMPLATE CONTENT]-->

<!-- [START EXTRA SCRIPTS] -->
{% block extra_js %}    
    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/hoverable-collapse.js"></script>
    <script src="/static/js/template.js"></script>

    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    
    <script src="{% static 'js/data-table.js' %}"></script>

    <script src="{% static 'js/light-gallery.js' %}"></script>
    

{% endblock %}
<!-- [END EXTRA SCRIPTS] -->