{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devie-width,
                                initial-scale=1,
                                shrink-to-fit=no">
  <title>Ecometric - Login</title>
  <!-- Plugins css-->
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" 
        type="text/css" 
        href="{% static 'css/style_login.css' %}" />
  {% block extra_css %}
  {% endblock %}
  <!-- bar icon-->
    <link rel="shortcut icon" href="{% static 'img/logo/logo_mini.png' %}" />
</head>
<body>

  <!-- [START] Login box -->
  <div class="row">
    <div class="col-md-1 col-sm-12"></div>
    <!-- Login -->
    <div class="col-md-4 col-sm-12">
      <!-- Inicio - container scroller -->
      <div class="container-scroller">
        <!-- Inicio - container body wrapper-->
        <div class="container-fluid page-body-wrapper ">
          <!-- Inicio - content wrapper -->
          <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <!-- Inicio - row flex-grow -->
            <div class="row flex-grow">
              <!-- Inicio - content column -->
              <div class="col-lg-12 d-flex align-items-center justify-content-center">
                <!-- Inicio - Form alignment -->
                <div class="auth-form-transparent text-left ">
                  <!--[Inicio Fila ] - Logos -->
                  <div class="row">
                    <!-- Logo Ecometric-->
                    <div class="col-md-5 col-sm-12">
                      <div class="brand-logo">
                        <img src="{% static 'img/logo/ecometric-logo_light-dark.png' %}">
                      </div>
                    </div>
                    <!-- Fin Logo Ecometric-->
                    <div class="col-md-2 col-sm-12"></div>
                    <!-- Logo FAUNOline-->
                    <div class="col-md-5 col-sm-12">
                      <div class="brand-logo">
                        <img src="{% static 'img/logo/faunoline_logo_traslucid.png' %}">
                      </div>
                    </div>
                    <!-- Fin Logo FAUNOline-->
                  </div>
                  <!--[Fin Fila ] - Logos -->
                  <h4>Bienvenido!</h4>
                  <h6 class="font-weight-light">
                    Ingresa para revisar las últimas actualizaciones
                  </h6>
                  <!--[Inicio Formulario]-->
                  <form class="pt-3" method="POST">{% csrf_token %}
                    {% if messages %}
                      {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
                      {% endfor %}
                    {% endif %}


                    <!--[Inicio] - User input data -->
                    <div class="form-group">
                      <label>Usuario</label>
                      <div class="input-group">
                        <!-- input data icon -->
                        <div class="input-group-prepend bg-transparent">
                          <span class="input-group-text bg-transparent border-right-0">
                            <i class="ti-user text-primary"></i>
                          </span>
                        </div>
                        <!-- input data textbox -->
                        <input type="text" class="form-control form-control-lg border-left-0" id="username" placeholder="Username" name="username">
                      </div>
                    </div>
                    <!--[Fin] - User input data -->

                    <!--[Inicio] - Password input data -->
                    <div class="form-group">
                      <label for="exampleInputPassword">Contraseña</label>
                      <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                          <span class="input-group-text bg-transparent border-right-0">
                            <i class="ti-lock text-primary"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control form-control-lg border-left-0" id="password placeholder="********" name="password">  
                      </div>
                    </div>
                    <!--[Fin] - Password input data -->

                    <!--[Inicio] - Button input data -->
                    <div class="my-3">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    </div>
                    <!--[Fin] - Button input data -->
                  </form>
                  <!--[Fin Formulario]-->
                </div>
                <!-- Fin - Form alignment -->
              </div>
              <!-- Fin - content column -->
            </div>
            <!-- Fin - row flex-grow -->
          </div>
          <!-- Fin - content wrapper -->
        </div>
        <!-- Fin - container body wrapper -->
      </div>
      <!-- Fin - container scroller-->
    </div>
    <!-- End Login -->
  </div>
  <!-- [END] Login box -->

<!-- Inicio - -->
<!-- Fin - -->


  <!-- [START] - plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- [END] - plugins:js -->

  <!-- [START] - inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- [END] - inject:js -->
</body>
</html>