<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>ENTRASTE!</H1>
    <table id="order-listing" class="table">
        <thead>
            <tr>
                <th>ID #</th>
                <th>NOmbre usuario</th>


                
                
            </tr>
        </thead>
        <tbody>
            {% for monitor in monitoring %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>

                
    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>